<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>createResume</title>
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/CreateResume.css">
    <link rel="stylesheet" href="__CSS__/header.css">
    <!-- <script type="text/javascript" src="__JS__/jquery-3.2.1.js"></script> -->
    <script type="text/javascript" src="__JS__/ajax.js"></script>
  </head>
  <body>
    <include file="Common:header" />
    <div class="container ">
      <div class="edit-area">
        <form method="post" enctype="multipart/form-data" id="resume-form">
          <section class="base-info edit-block">
            <div class="head-pic">
              <div class="img">
                <img src="__IMG__/miao.jpg" alt="">
                <div class="img-hover">上传图片</div>
                <input type="file" name="head_pic" id="head-pic">

              </div>
            </div>
            <div class="base-text">
                <div class="line clearfix">
                  <div class="name base-item">
                    <label for="name">姓名</label>
                    <input type="text" id="name" name="username">
                  </div>
                  <div class="birthday base-item">
                    <label for="">出生年月</label>
                    <div class="time-selector-box">
                      <input class="time-input" type="text" readonly value="1900/06" id="birthday" name="birthday">
                      <div class="time-selector clearfix" data-year="" data-month="">
                        <dl class="year">
                          <dt class="selected select-item-year">1990</dt>
                          <dt class="select-item-year">1991</dt>
                          <dt class="select-item-year">1992</dt>
                          <dt class="select-item-year">1993</dt>
                          <dt class="select-item-year">1994</dt>
                          <dt class="select-item-year">1995</dt>
                          <dt class="select-item-year">1996</dt>
                          <dt class="select-item-year">1997</dt>
                          <dt class="select-item-year">1998</dt>
                          <dt class="select-item-year">1999</dt>
                          <dt class="select-item-year">2000</dt>
                          <dt class="select-item-year">2001</dt>
                          <dt class="select-item-year">2002</dt>
                          <dt class="select-item-year">2003</dt>
                          <dt class="select-item-year">2004</dt>
                          <dt class="select-item-year">2005</dt>
                          <dt class="select-item-year">2006</dt>
                          <dt class="select-item-year">2007</dt>
                          <dt class="select-item-year">2008</dt>
                          <dt class="select-item-year">2009</dt>
                          <dt class="select-item-year">2010</dt>
                          <dt class="select-item-year">2011</dt>
                          <dt class="select-item-year">2012</dt>
                          <dt class="select-item-year">2013</dt>
                          <dt class="select-item-year">2014</dt>
                          <dt class="select-item-year">2015</dt>
                          <dt class="select-item-year">2016</dt>
                          <dt class="select-item-year">2017</dt>
                          <dt class="select-item-year">2018</dt>
                          <dt class="select-item-year">2019</dt>
                        </dl>
                        <dl class="month">
                          <dt class="select-item-month" data-value="01">1月</dt>
                          <dt class="select-item-month" data-value="02">2月</dt>
                          <dt class="select-item-month" data-value="03">3月</dt>
                          <dt class="select-item-month" data-value="04">4月</dt>
                          <dt class="select-item-month" data-value="05">5月</dt>
                          <dt class="select-item-month" data-value="06">6月</dt>
                          <dt class="select-item-month" data-value="07">7月</dt>
                          <dt class="select-item-month" data-value="08">8月</dt>
                          <dt class="select-item-month" data-value="09">9月</dt>
                          <dt class="select-item-month" data-value="10">10月</dt>
                          <dt class="select-item-month" data-value="11">11月</dt>
                          <dt class="select-item-month" data-value="12">12月</dt>
                        </dl>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="line clearfix">
                  <div class="city base-item">
                    <label for="location">所在城市</label>
                    <input type="text" name="location" value="">
                  </div>
                  <div class="employ-age base-item">
                    <label for="experience">工作年限</label>
                    <select class="" name="experience">
                      <option value="无工作经验">无工作经验</option>
                      <option value="1年工作经验">1年工作经验</option>
                      <option value="1年工作经验">2年工作经验</option>
                      <option value="1年工作经验">3年工作经验</option>
                      <option value="1年工作经验">3年以上工作经验</option>
                      <option value="1年工作经验">5年以上工作经验</option>
                      <option value="1年工作经验">10年以上工作经验</option>
                    </select>
                  </div>
                </div>
                <div class="line clearfix">
                  <div class="phone base-item" >
                    <label for="phone">联系号码</label>
                    <input type="text" name="phone" value="">
                  </div>
                </div>
                <div class="line clearfix">
                  <div class="email base-item">
                    <label for="email">邮箱</label>
                    <input type="text" name="email" value="">
                  </div>
                </div>
                <div class="s-desc base-item">
                  <label>一句话描述</label>
                  <input type="text" name="oneword" value="">
                </div>
            </div>
            <button class="btn btn-save" type="button" data-block="baseInfo">保存</button>

          </section>
          <!-- baseinfo end  -->
          <!-- intension start -->
          <section class="intension edit-block hide">
            <div class="title">
              <span>求职意向</span>
              <button class="btn btn-save" type="button" data-block="intension">保存</button>
            </div>
            <div class="info">
                <div class="line clearfix">
                  <span class="tit clearfix">期望职位</span>
                  <div class="intension-item">
                    <div class="job">
                      <input type="text" name="expect_job" value="">
                    </div>
                  </div>
                  <div class="intension-item">
                    <div class="job-type">
                      <select class="" name="expect_type">
                        <option value="全职">全职</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="line clearfix">
                  <div class="intension-item">
                    <span class="tit clearfix">意向城市</span>
                    <div class="city">
                      <input type="text" name="expect_city" value="">
                    </div>
                  </div>
                  <div class="intension-item">
                    <span class="tit clearfix">入职时间</span>
                    <div class="in-date">
                      <select class="" name="entry_time">
                        <option value="随时到岗">随时到岗</option>
                        <option value="随时到岗">一周内到岗</option>
                        <option value="随时到岗">1个月内到岗</option>
                        <option value="随时到岗">3个月内到岗</option>
                      </select>
                    </div>
                  </div>
                </div>
            </div>
          </section>
          <!-- intension end -->
          <!-- education section -->
          <section class="education edit-block hide">
            <div class="title">
              <span>教育经历</span>
              <button class="btn btn-add" type="button" data-target="education-edit">添加</button>
            </div>
            <div class="info">
              <div class="education-edit hide">
                <div class="line">
                  <div class="school">
                    <span class="tit">学校名称</span>
                    <input type="text" name="school_name" value="">
                  </div>
                </div>
                <div class="line">
                  <div class="object">
                    <span class="tit">所学专业</span>
                    <input type="text" name="major">
                  </div>
                </div>
                <div class="line clearfix">
                  <div class="qualification clearfix">
                    <span class="tit">学历</span>
                    <select class="" name="qualification">
                      <option value="">本科</option>
                    </select>
                  </div>
                  <div class="graduate-date clearfix">
                    <span class="tit">毕业年份</span>
                    <select class="" name="graduate-year">
                      <option value="2005">2005</option>
                      <option value="2006">2006</option>
                      <option value="2007">2007</option>
                      <option value="2008">2008</option>
                      <option value="2009">2009</option>
                      <option value="2010">2010</option>
                      <option value="2011">2011</option>
                      <option value="2012">2012</option>
                      <option value="2013">2013</option>
                      <option value="2014">2014</option>
                      <option value="2015">2015</option>
                      <option value="2016">2016</option>
                      <option value="2017">2017</option>
                      <option value="2018">2018</option>
                    </select>
                  </div>
                </div>
                <div class="line">
                  <span class="tit">学习内容</span>
                  <textarea name="study_content" rows="8" cols="80"></textarea>
                </div>
                <button class="btn btn-save" type="button" data-block="education">保存</button>
                <button class="btn btn-cancel" type="button">取消</button>
              </div>
              <div class="education-list">
                <div class="education-list-item">
                  <div class="line clearfix">
                    <span class="school-name">华南师范大学</span>
                    <span class="qualification-saved">本科</span>
                    <span class="major-name">|网络工程</span>
                    <span class="graduate-year">2016毕业</span>
                  </div>
                  <div class="">主修计算机网络等</div>
                </div>

              </div>
            </div>
          </section>
          <!-- job -->
          <section class="job-exp edit-block hide">
            <div class="title">
              <span>工作经历</span>
              <button class="btn btn-add" type="button" data-target="job-edit">添加</button>
            </div>
            <div class="info">
              <div class="job-edit hide">
                  <div class="line company">
                    <span class="tit">公司</span>
                    <input type="text" name="company">
                  </div>
                  <div class="line place">
                    <span class="tit">职位</span>
                    <input type="text" name="place">
                  </div>
                  <div class="line time">
                    <span class="tit">在职时间</span>
                    <div class="time-selector-box">
                      <input class="time-input c_stime" type="text" readonly value="2017/01" name="c_stime">
                      <div class="time-selector clearfix">
                        <dl class="year">
                          <dt class="select-item-year">2005</dt>
                          <dt class="select-item-year">2006</dt>
                          <dt class="select-item-year">2007</dt>
                          <dt class="select-item-year">2008</dt>
                          <dt class="select-item-year">2009</dt>
                          <dt class="select-item-year">2010</dt>
                          <dt class="select-item-year">2011</dt>
                          <dt class="select-item-year">2012</dt>
                          <dt class="select-item-year">2013</dt>
                          <dt class="select-item-year">2014</dt>
                          <dt class="select-item-year">2015</dt>
                          <dt class="select-item-year">2016</dt>
                          <dt class="select-item-year">2017</dt>
                          <dt class="select-item-year">2018</dt>
                          <dt class="select-item-year">2019</dt>
                        </dl>
                        <dl class="month">
                          <dt class="select-item-month" data-value="01">1月</dt>
                          <dt class="select-item-month" data-value="02">2月</dt>
                          <dt class="select-item-month" data-value="03">3月</dt>
                          <dt class="select-item-month" data-value="04">4月</dt>
                          <dt class="select-item-month" data-value="05">5月</dt>
                          <dt class="select-item-month" data-value="06">6月</dt>
                          <dt class="select-item-month" data-value="07">7月</dt>
                          <dt class="select-item-month" data-value="08">8月</dt>
                          <dt class="select-item-month" data-value="09">9月</dt>
                          <dt class="select-item-month" data-value="10">10月</dt>
                          <dt class="select-item-month" data-value="11">11月</dt>
                          <dt class="select-item-month" data-value="12">12月</dt>
                        </dl>
                      </div>
                    </div>
                    ~
                    <div class="time-selector-box">
                      <input class="time-input c_etime" type="text" readonly value="2017/01" name="c_etime">
                      <div class="time-selector clearfix">
                        <dl class="year">
                          <dt class="select-item-year">2005</dt>
                          <dt class="select-item-year">2006</dt>
                          <dt class="select-item-year">2007</dt>
                          <dt class="select-item-year">2008</dt>
                          <dt class="select-item-year">2009</dt>
                          <dt class="select-item-year">2010</dt>
                          <dt class="select-item-year">2011</dt>
                          <dt class="select-item-year">2012</dt>
                          <dt class="select-item-year">2013</dt>
                          <dt class="select-item-year">2014</dt>
                          <dt class="select-item-year">2015</dt>
                          <dt class="select-item-year">2016</dt>
                          <dt class="select-item-year">2017</dt>
                          <dt class="select-item-year">2018</dt>
                          <dt class="select-item-year">2019</dt>
                        </dl>
                        <dl class="month">
                          <dt class="select-item-month" data-value="01">1月</dt>
                          <dt class="select-item-month" data-value="02">2月</dt>
                          <dt class="select-item-month" data-value="03">3月</dt>
                          <dt class="select-item-month" data-value="04">4月</dt>
                          <dt class="select-item-month" data-value="05">5月</dt>
                          <dt class="select-item-month" data-value="06">6月</dt>
                          <dt class="select-item-month" data-value="07">7月</dt>
                          <dt class="select-item-month" data-value="08">8月</dt>
                          <dt class="select-item-month" data-value="09">9月</dt>
                          <dt class="select-item-month" data-value="10">10月</dt>
                          <dt class="select-item-month" data-value="11">11月</dt>
                          <dt class="select-item-month" data-value="12">12月</dt>
                        </dl>
                      </div>
                    </div>
                  </div>
                  <div class="line job-content">
                    <span class="tit">工作内容</span>
                    <textarea name="work_contents" rows="8" cols="80"></textarea>
                  </div>
                  <button class="btn btn-save" type="button" data-block="work_history">保存</button>
                  <button class="btn btn-cancel" type="button">取消</button>
              </div>
              <div class="job-list">
                <div class="job-list-item">
                  <div class="line clearfix">
                    <span class="company-name">xx公司</span>
                    <span class="place-name">php开发工程师</span>
                    <div class="last-time">
                      <span class="c-stime">2016/09~</span>
                      <span class="c-etime">2016/12</span>
                    </div>
                  </div>
                  <div class="">主要负责后台开发</div>
                </div>
              </div>
            </div>
          </section>
          <!-- project -->
          <section class="project edit-block hide">
            <div class="title">
              <span>项目经历</span>
              <button class="btn btn-add" type="button" data-target="project-edit">添加</button>
            </div>
            <div class="info">
              <div class="project-edit hide">
                <div class="line name">
                  <span class="tit">项目名称</span>
                  <input type="text" name="project_name">
                </div>
                <div class="line duty">
                  <span class="tit">你的职责</span>
                  <input type="text" name="project_duty" value="">
                </div>
                <div class="line time">
                  <span class="tit">项目起止时间</span>
                  <div class="time-selector-box">
                    <input class="time-input c_stime" type="text" readonly value="2017/01" name="p_stime">
                    <div class="time-selector clearfix">
                      <dl class="year">
                        <dt class="select-item-year">2005</dt>
                        <dt class="select-item-year">2006</dt>
                        <dt class="select-item-year">2007</dt>
                        <dt class="select-item-year">2008</dt>
                        <dt class="select-item-year">2009</dt>
                        <dt class="select-item-year">2010</dt>
                        <dt class="select-item-year">2011</dt>
                        <dt class="select-item-year">2012</dt>
                        <dt class="select-item-year">2013</dt>
                        <dt class="select-item-year">2014</dt>
                        <dt class="select-item-year">2015</dt>
                        <dt class="select-item-year">2016</dt>
                        <dt class="select-item-year">2017</dt>
                        <dt class="select-item-year">2018</dt>
                        <dt class="select-item-year">2019</dt>
                      </dl>
                      <dl class="month">
                        <dt class="select-item-month" data-value="01">1月</dt>
                        <dt class="select-item-month" data-value="02">2月</dt>
                        <dt class="select-item-month" data-value="03">3月</dt>
                        <dt class="select-item-month" data-value="04">4月</dt>
                        <dt class="select-item-month" data-value="05">5月</dt>
                        <dt class="select-item-month" data-value="06">6月</dt>
                        <dt class="select-item-month" data-value="07">7月</dt>
                        <dt class="select-item-month" data-value="08">8月</dt>
                        <dt class="select-item-month" data-value="09">9月</dt>
                        <dt class="select-item-month" data-value="10">10月</dt>
                        <dt class="select-item-month" data-value="11">11月</dt>
                        <dt class="select-item-month" data-value="12">12月</dt>
                      </dl>
                    </div>
                  </div>
                  ~
                  <div class="time-selector-box">
                    <input class="time-input c_etime" type="text" readonly value="2017/01" name="p_etime">
                    <div class="time-selector clearfix">
                      <dl class="year">
                        <dt class="select-item-year">2005</dt>
                        <dt class="select-item-year">2006</dt>
                        <dt class="select-item-year">2007</dt>
                        <dt class="select-item-year">2008</dt>
                        <dt class="select-item-year">2009</dt>
                        <dt class="select-item-year">2010</dt>
                        <dt class="select-item-year">2011</dt>
                        <dt class="select-item-year">2012</dt>
                        <dt class="select-item-year">2013</dt>
                        <dt class="select-item-year">2014</dt>
                        <dt class="select-item-year">2015</dt>
                        <dt class="select-item-year">2016</dt>
                        <dt class="select-item-year">2017</dt>
                        <dt class="select-item-year">2018</dt>
                        <dt class="select-item-year">2019</dt>
                      </dl>
                      <dl class="month">
                        <dt class="select-item-month" data-value="01">1月</dt>
                        <dt class="select-item-month" data-value="02">2月</dt>
                        <dt class="select-item-month" data-value="03">3月</dt>
                        <dt class="select-item-month" data-value="04">4月</dt>
                        <dt class="select-item-month" data-value="05">5月</dt>
                        <dt class="select-item-month" data-value="06">6月</dt>
                        <dt class="select-item-month" data-value="07">7月</dt>
                        <dt class="select-item-month" data-value="08">8月</dt>
                        <dt class="select-item-month" data-value="09">9月</dt>
                        <dt class="select-item-month" data-value="10">10月</dt>
                        <dt class="select-item-month" data-value="11">11月</dt>
                        <dt class="select-item-month" data-value="12">12月</dt>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="line project-content">
                  <span class="tit">项目内容</span>
                  <textarea name="project_content" rows="8" cols="80"></textarea>
                </div>
                <button class="btn btn-save" type="button">保存</button>
                <button class="btn btn-cancel" type="button">取消</button>
              </div>
              <div class="project-list">
                <div class="project-list-item">
                  <div class="line clearfix">
                    <div class="line clearfix">
                      <span class="project-name">项目名称</span>
                      <span class="duty-name">前端开发</span>
                      <div class="last-time">
                        <span class="p-stime">2016/09~</span>
                        <span class="p-etime">2016/12</span>
                      </div>
                    </div>
                    <div class="">主要负责前端开发</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- 自我评价 -->
          <section class="evalution edit-block hide">
            <div class="title">
              <span>自我评价</span>
              <button class="btn btn-save" type="button">保存</button>

            </div>
            <textarea name="evalution" rows="8" cols="80"></textarea>
          </section>
          <!-- 自定义模块 -->
          <section class="custom edit-block hide">

          </section>
        </form>
      </div>
      <div class="r-bar" id="r-bar">
        <ul class="nav" id="nav-main1">
          <li class="nav-head">
            <span>简历模块</span>
            <button class="btn">预览</button>
            <button class="btn btn-save" id="btn-save">保存</button>
          </li>
          <li class="nav-item active" data-target="base-info">基本信息</li>
          <li class="nav-item" data-target="intension">求职意向</li>
          <li class="nav-item" data-target="education">教育经历</li>
          <li class="nav-item" data-target="job-exp">工作经历</li>
          <li class="nav-item" data-target="project">项目经历</li>
          <li class="nav-item" data-target="evalution">自我评价</li>
          <li class="nav-item" data-target="custom">添加自定义模块</li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="__JS__/CreateResume.js"></script>
  </body>
</html>
