<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editResume</title>
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__CSS__/EditResume.css">
</head>
<body>
  <header>
    <div class="step_bar">
      <ul>
        <li class="step step_pass">
          <i class="step_icon">1</i>
          <span>选择模板</span>
        </li>
        <li class="step ">
          <i class="step_icon">2</i>
          <span>选择常用字段</span>
        </li>
      </ul>
    </div>
  </header>
  <main>
    <div class="tab_bar">
      <ul>
        <li class="tab tab_one hide">
          <div class="tab_content">
            <ul class="clearfix">
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text"></div>
                </div>
              </li>
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text">
                    <div class="title">Jm0202</div>
                    <div class="info">
                      <span class="num">1人使用</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text"></div>
                </div>
              </li>
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text"></div>
                </div>
              </li>
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text"></div>
                </div>
              </li>
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text"></div>
                </div>
              </li>
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text"></div>
                </div>
              </li>
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text"></div>
                </div>
              </li>
              <li class="tmpl_list">
                <div class="list_cont">
                  <div class="img">
                    <img src="__IMG__/jm0203.jpg" alt="">
                  </div>
                  <div class="text">

                  </div>
                </div>
              </li>

            </ul>
          </div>
        </li>
        <li class="tab tab_two">
          <div class="tab_content">
            <div class="select_target">
              <span class="item selected">头像</span>
              <span class="item">头像</span>
              <span class="item">头像</span>
              <span class="item">头像</span>
              <span class="item">头像</span>
              <span class="item">头像</span>
              <span class="item">头像</span>
              <span class="item">头像</span>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </main>
  <footer></footer>
</body>
</html>
