<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__ROOT__/Public/common/pintuer/pintuer.css" />
    <link rel="stylesheet" href="__CSS__/index.css">
    <link rel="stylesheet" href="__CSS__/header.css">
    <script type="text/javascript" src="__ROOT__/Public/Common/pintuer/jquery.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/pintuer/pintuer.js"></script>


    <!-- <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="pintuer/pintuer.css" />
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
     <script type="text/javascript" src="pintuer/jquery.js"></script>
    <script type="text/javascript" src="pintuer/pintuer.js"></script>  -->


    <title>index</title>
</head>
<body>
  <include file="Common:header" />


  <div class="container">
        <div class="x_nav">
           <div class="x_Classify">
              <div class="x_current_path">
                 <a href="index.html">首页</a>>><a href="index.html">简历模板</a>>><a href="index.html">全部简历</a>
              </div>

              <div class="x_Classify_content">
                 <span>模板类别：</span>
                 <a href="#">全部</a>
                 <a href="#">中文</a>
                 <a href="#">英文</a>
                 <a href="#">套餐</a>
                 <a href="#">单页</a>
                 <a href="#">多页</a>
                 <a href="#">实习</a>
                 <a href="#">全职</a>
                 <a href="#">学校</a>
                 <a href="#">企业</a>
                 <a href="#">其他</a>
              </div>
           </div>

           <div class="x_searchform">
              <div class="x_newhot">
                 <a href="#">热门推荐</a>|<a href="#">最新简历</a>
              </div>

              <div class="x_searchBox">
                  <input type="text" class="x_search_box" placeholder="请输入要查询的内容">
                  <input type="submit" class="x_search_submit" value="">
              </div>
           </div >
        </div>


        <div class="line">
            <div class="x_resume">

                <div class="xs6 xm4 xb3">
                   <div class="x_resume_content">
                      <div class="x_img_content">
                         <a  href="1" clss="x_resume_link">
                            <img alt="简历模板" src="__IMG__/1.jpg" class="x_resume_img">
                         </a>
                      </div>

                      <div class="x_words_content">
                         <p class="x_resumeprice" >
                            <a href="1" class="x_resume_link">编号1 简历模板</a>
                            <span>￥8.8</span>
                         </p>

                         <p class="x_buynum">
                            <a href="#"><span class="icon-eye"></span>50838</a>
                            <a href="#"><span class="icon-shopping-cart"></span>520</a>
                         </p>
                      </div>
                   </div>
                </div>

                <div class="xs6 xm4 xb3">
                   <div class="x_resume_content">
                      <div class="x_img_content">
                         <a  href="1" clss="x_resume_link">
                            <img alt="简历模板" src="__IMG__/1.jpg" class="x_resume_img">
                         </a>
                      </div>

                      <div class="x_words_content">
                         <p class="x_resumeprice" >
                            <a href="1" class="x_resume_link">编号1 简历模板</a>
                            <span>￥8.8</span>
                         </p>

                         <p class="x_buynum">
                            <a href="#"><span class="icon-eye"></span>50838</a>
                            <a href="#"><span class="icon-shopping-cart"></span>520</a>
                         </p>
                      </div>
                   </div>
                </div>

                 <div class="xs6 xm4 xb3">
                   <div class="x_resume_content">
                      <div class="x_img_content">
                         <a  href="1" clss="x_resume_link">
                            <img alt="简历模板" src="__IMG__/1.jpg" class="x_resume_img">
                         </a>
                      </div>

                      <div class="x_words_content">
                         <p class="x_resumeprice" >
                            <a href="1" class="x_resume_link">编号1 简历模板</a>
                            <span>￥8.8</span>
                         </p>

                         <p class="x_buynum">
                            <a href="#"><span class="icon-eye"></span>50838</a>
                            <a href="#"><span class="icon-shopping-cart"></span>520</a>
                         </p>
                      </div>
                   </div>
                </div>

                 <div class="xs6 xm4 xb3">
                   <div class="x_resume_content">
                      <div class="x_img_content">
                         <a  href="1" clss="x_resume_link">
                            <img alt="简历模板" src="__IMG__/1.jpg" class="x_resume_img">
                         </a>
                      </div>

                      <div class="x_words_content">
                         <p class="x_resumeprice" >
                            <a href="1" class="x_resume_link">编号1 简历模板</a>
                            <span>￥8.8</span>
                         </p>

                         <p class="x_buynum">
                            <a href="#"><span class="icon-eye"></span>50838</a>
                            <a href="#"><span class="icon-shopping-cart"></span>520</a>
                         </p>
                      </div>
                   </div>
                </div>


                <div class="xs6 xm4 xb3">
                   <div class="x_resume_content">
                      <div class="x_img_content">
                         <a  href="1" clss="x_resume_link">
                            <img alt="简历模板" src="__IMG__/1.jpg" class="x_resume_img">
                         </a>
                      </div>

                      <div class="x_words_content">
                         <p class="x_resumeprice" >
                            <a href="1" class="x_resume_link">编号1 简历模板</a>
                            <span>￥8.8</span>
                         </p>

                         <p class="x_buynum">
                            <a href="#"><span class="icon-eye"></span>50838</a>
                            <a href="#"><span class="icon-shopping-cart"></span>520</a>
                         </p>
                      </div>
                   </div>
                </div>

                <div class="xs6 xm4 xb3">
                   <div class="x_resume_content">
                      <div class="x_img_content">
                         <a  href="1" clss="x_resume_link">
                            <img alt="简历模板" src="__IMG__/1.jpg" class="x_resume_img">
                         </a>
                      </div>

                      <div class="x_words_content">
                         <p class="x_resumeprice" >
                            <a href="1" class="x_resume_link">编号1 简历模板</a>
                            <span>￥8.8</span>
                         </p>

                         <p class="x_buynum">
                            <a href="#"><span class="icon-eye"></span>50838</a>
                            <a href="#"><span class="icon-shopping-cart"></span>520</a>
                         </p>
                      </div>
                   </div>
                </div>

                <div class="xs6 xm4 xb3">
                   <div class="x_resume_content">
                      <div class="x_img_content">
                         <a  href="1" clss="x_resume_link">
                            <img alt="简历模板" src="__IMG__/1.jpg" class="x_resume_img">
                         </a>
                      </div>

                      <div class="x_words_content">
                         <p class="x_resumeprice" >
                            <a href="1" class="x_resume_link">编号1 简历模板</a>
                            <span>￥8.8</span>
                         </p>

                         <p class="x_buynum">
                            <a href="#"><span class="icon-eye"></span>50838</a>
                            <a href="#"><span class="icon-shopping-cart"></span>520</a>
                         </p>
                      </div>
                   </div>
                </div>

                <div class="xs6 xm4 xb3">
                   <div class="x_resume_content">
                      <div class="x_img_content">
                         <a  href="1" clss="x_resume_link">
                            <img alt="简历模板" src="__IMG__/1.jpg" class="x_resume_img">
                         </a>
                      </div>

                      <div class="x_words_content">
                         <p class="x_resumeprice" >
                            <a href="1" class="x_resume_link">编号1 简历模板</a>
                            <span>￥8.8</span>
                         </p>

                         <p class="x_buynum">
                            <a href="#"><span class="icon-eye"></span>50838</a>
                            <a href="#"><span class="icon-shopping-cart"></span>520</a>
                         </p>
                      </div>
                   </div>
                </div>

            </div>
        </div>

  </div>

  <footer>

      <div class="x_footer_nav">
          <p>热门栏目：
            <a href="#">英文简历</a>
            <a href="#">英文简历</a>
            <a href="#">英文简历</a>
            <a href="#">英文简历</a>
            <a href="#">英文简历</a>
            <a href="#">英文简历</a>
            <a href="#">英文简历</a>
            <a href="#">英文简历</a>
          </p>
      </div>

      <div class="x_copyright">

      </div>

  </footer>
</body>
</html>
