<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__ROOT__/Public/common/pintuer/pintuer.css" />
    <link rel="stylesheet" href="__CSS__/header.css">
    <link rel="stylesheet" href="__CSS__/self.css">
  </head>
  <body>
    <include file="Common:header" />
    <div class="container">
      <h1>个人中心</h1>

      <div class="inner-box">

        <div class="head">
          <div class="head-pic">
            <a href="javascripts:;">点击更换头像</a>
            <img src="" alt="">
            <input type="file" name="file" style="display:none" id="headFile">
          </div>
          <a href="javascripts:;" class="btn-c">更换头像</a>
        </div>
        <div class="member-index">
          <ul>
            <li class="username">
              <p>昵称：<span>kk</span></p>
            </li>
            <li class="phone">
              <p>手机：<span>13700000000</span></p>
            </li>
            <li class="email">
              <p>邮箱：<span>25431355@xx.com</span></p>
            </li>
            li.
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
