<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="__CSS__/base.css">
    <link rel="stylesheet" href="__ROOT__/Public/common/pintuer/pintuer.css" />
    <link rel="stylesheet" href="__CSS__/header.css">
    <link rel="stylesheet" href="__CSS__/self.css">
    <script type="text/javascript" src="__JS__/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/common/pintuer/pintuer.js"></script>
    <script type="text/javascript" src="__JS__/self.js"></script>
  </head>
  <body>
    <include file="Common:header"/>
    <div class="h-bg"></div>
    <div class="container">
      <div class="inner">
        <h1>账户设置</h1>
        <div class="head">
          <div class="head-bd">
            <a href="javascripts:;">点击更换头像</a>
            <img src="" alt="">
            <input type="file" name="file" id="file" style="opacity:0">
          </div>
          <a type="button" class="btn-hc">更换头像</a>
        </div>
        <div class="member-index">
          <ul>
            <li class="username">
              昵称：
              <span>{$user['username']}</span>
              <a href="set/username">修改</a>
            </li>
            <li class="phone">
              手机：
              <span>{$user['phone']}</span>
              <a href="set/phone">修改</a>
            </li>
            <li class="email">
              邮箱：
              <span>{$user['email']}</span>
              <a href="set/email">修改</a>
            </li>
            <li class="wechat">
              微信：
              <span>{$user['wechat_id']}</span>
              <a href="set/wechat">修改</a>
            </li>
            <li class="pwd">
              密码：
              <span>******</span>
              <a href="set/pwd">修改</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
