<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>kwg后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/pintuer.js"></script>
</head>

<body>
	<include file="Common:common" />

    <div class="admin">
       <table class="table">
       <tr>
          <th>用户名</th>
          <th>手机号</th>
          <th>邮箱</th>
          <th>个性签名</th>
          <th>微信号</th>
       </tr>

       <tr>
         <td>wan</td>
         <td>15625047984</td>
         <td>1189634@qq.com</td>
         <td>世界你好</td>
         <td>wanlixy</td>
       </tr>

       </table>
    </div>


</body>
</html>
