<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>kwg后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/pintuer.js"></script>
</head>

<body>
	<include file="Common:common" />

    <div class="admin">
       <table class="table">
       
       <tr>
          <th>用户ID</th>
          <th>用户名</th>
          <th>手机号</th>
          <th>邮箱</th>
          <th>个性签名</th>
          <th>微信号</th>
       </tr>

       <volist name="user_arr" id="vo">
       <tr>
         <td>{$vo.id}</td>
         <td>{$vo.username}</td>
         <td>{$vo.phone}</td>
         <td>{$vo.email}</td>
         <td>{$vo.avatar}</td>
         <td>{$vo.wechat_id}</td>
         <td>
		 <a href="__CONTROLLER__/modify/id/{$vo.id}">修改</a>
		 <a href="__CONTROLLER__/del/id/{$vo.id}">删除</a>
          <a href="__CONTROLLER__/myResume/id/{$vo.id}">我的简历</a>
         </td>
       </tr>
       </volist>
       </table>
       <div class ="x_page">{$page}</div> 
    </div>

</body>
</html>
