/* 基本样式重写 */
label{
  display: inline-block;
  font-size: 14px;
  color: #666;
  width: 100px;
}
input{
  border: 1px solid #999;
  outline: 0;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  color: #333;
  text-indent: 10px;
  font-size: 16px;
}
input:focus{
  border: 1px solid #2c7;
}
select{
  border: 1px solid #999;
  outline: 0;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  color: #333;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 60px;
   /* padding-right: 30px; */
   background: url("../img/arrow.png") no-repeat scroll 86% 50% transparent;
   cursor: pointer;
   text-indent: 5px;
}
select:focus{
  border-color: #2c7;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
textarea{
  outline: 0;
  border: 1px solid #999;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  padding: 10px;
}
textarea:focus{
  border-color: #2c7;
}

.btn {
  font-size: 14px;
  border: 1px solid #2c7;
  padding: 5px 20px;
  border-radius: 4px;
  color: #2c7;
  outline: 0;
  cursor: pointer;
  background-color: #fff;
}
.btn:hover{
  color: #fff;
  background-color: #2c7;
}
.btn-add{
  position: absolute;
  top: 16px;
  right: 0;
}
/* 重写end */
.container{
  position: relative;
  margin: 0 auto;
  width: 980px;
}
.container::before{
  content: "";
  display: table;
}
.edit-area{
  width: 60%;
  margin-top: 130px;
  background-color: #fefef2;
}
.r-bar{
  position: absolute;
  width: 260px;
  top: 80px;
  right: 0;
}
.nav-head{
  border-bottom: 2px solid #ccc;
  background-color: #fff;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
}
.nav-head span{
  line-height: 80px;
  text-indent: 10px;
}


.nav-item{
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #eee;
  margin: 2px 0;
  cursor: pointer;
  text-indent: 30px;
  color: #333;

}
.nav-item:hover, .nav-item.active{
  border-left: 2px solid #2c7;
}
.nav-item.active{
  color: #2c7;
}

/* 基本信息模块css */
.base-info{
  width: 100%;
  /* background-color: #999; */
}
.head-pic{
  width: 100%;
  position: relative;
  height: 150px;
  margin-bottom: 50px;
  background-color: #2c7;
  opacity: 0.6;

}
.head-pic .img{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  overflow: hidden;
  border: 1px #999 solid;
  bottom: -30px;
  left: 234px;
  background-color: #fff;
  z-index: 10;
}
.img-hover{
  display: none;
  position: absolute;
  width: 120px;
  height: 120px;
  line-height: 120px;
  color: #2c7;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  border-radius: 60px;
  bottom: 0;
  left: 0;
  cursor: pointer;
  user-select: none;
}
.img:hover .img-hover, .img:focus .img-hover{
  display: block;
}
.img img{
  width: 100%;
  height: auto;
}
#head-pic{
  position: absolute;
  display: inline-block;
  width: 120px;
  height: 120px;
  top: 0;
  outline: 0;
  border: 0;
  opacity: 0;
  cursor: pointer;
  border-radius: 60px;
}
.line{
  width: 100%;
  margin-bottom: 10px;
}
.line .base-item{
  float: left;
  margin-right: 30px;
}
.base-info .name input{
  width: 100px;
}
.base-info .city input{
  width: 100px;
}
.base-info .employ-age select{
  width: 130px;
}
.s-decs{
  width: 100%;
}
.s-desc input{
  width: 80%;
}
.birthday{
  position: relative;
}
.base-info .btn-save{
  float: right;
  margin-top: 20px;
}

/* 基本信息end */
/* 求职意向 go */
.intension{
  width: 100%;
  position: relative;
}
.intension .btn-save{
  float: right;
  margin-top: 20px;
}
section .title{
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid #2c7;
  text-indent: 10px;
}
.intension .tit{
  display: block;
  margin: 10px 0;
}
.intension-item{
  float: left;
  margin-right: 20px;
}

.intension .in-date select{
  width: 130px;
}
/* education css */
.education{
  position: relative;
  width: 100%
}
.education .btn-save{
  position: absolute;
  right: 100px;
  top: 16px;
}
.education .tit{
  display: block;
  margin: 10px 0;
}
.education-edit{
  margin-bottom: 20px;
}
.education .school input, .object input{
  width: 80%;
}
.education textarea{
  width: 80%;
}
.qualification, .graduate-date{
  float: left;
  margin-right: 20px;
}
.education-list-item{
  position: relative;
  /* height: 50px; */
  background-color: #ffffe8;
  padding: 50px 0;
  border-top: 1px solid #2c7;
}
.education-list-item span{
}
.education-list-item .school-name{
  float: left;
  margin-right: 40px;
}
.education-list-item .qualification-saved{
  float: left;
}
.education-list-item .major-name{
  float: left;
}
.education-list-item .graduate-year{
  float: right;
  margin-right: 50px;
}
.education-list-item .study-content{
  display: block;
  width: 80%;
  margin-bottom: 50px;
}
/* job */
.job-exp{
  position: relative;
  width: 100%;
}
.job-exp .btn-save{
  position: absolute;
  right: 100px;
  top: 16px;
}
.job-exp .tit{
  display: block;
  margin: 10px 0;
}
.job-exp input{
  width: 80%;
}
.job-exp select{
  width: 80px;
}
.job-exp textarea{
  width: 80%;
}
.job-edit{
  margin-bottom: 20px;
}
.job-list-item {
  position: relative;
  height: 50px;
  background-color: #ffffe8;
  padding: 20px 10px;
}
.job-list-item .company-name {
  float: left;
  margin-right: 50px;
}
.job-list-item .place-name {
  float: left;
}
.job-list-item .last-time{
  float: right;
  display: inline-block;
}
/* project */
.project{
  position: relative;
  width: 100%;
}
.project .tit{
  display: block;
  margin: 10px 0;
}
.project input, .project textarea{
  width: 80%;
}
.project select{
  width: 80px;
}
.project-edit{
  margin-bottom: 20px;
}
.project-list-item {
  position: relative;
  height: 50px;
  background-color: #ffffe8;
  padding: 20px 10px;
}
.project-list-item .project-name {
  float: left;
  margin-right: 50px;
}
.project-list-item .duty-name {
  float: left;
}
.project-list-item .last-time{
  float: right;
  display: inline-block;
}
/* evalution */
.evalution{
  width: 100%;
  position: relative;
}
.evalution .btn-save{
  float: right;
  margin-top: 20px;
}
.evalution textarea{
  width: 80%;
  margin-top: 10px;
}

.time-selector-box{
  position: relative;
  display: inline-block;
}
.time-selector{
  position: absolute;
  width: 260px;
  height: 120px;
  display: none;
  background-color: #fff;
  /* left: 100px; */
}

.time-input{
  background: url("../img/arrow.png") no-repeat scroll 95% 50% transparent;
  cursor: pointer;
  text-indent: 5px;
  user-select: none;
  /* width: 100px; */
}
input.c_stime, input.c_etime{
  width: 100px;
}
.time-selector .year{
  width: 80px;
  height: 100%;
  float: left;
  overflow-y: scroll;
  text-align: center;
  user-select: none;
}
.time-selector .year dt {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.time-selector .year dt:hover, .time-selector .month dt:hover, .time-selector .selected {
  background-color: #2c7;
  color: #fff;
}
.time-selector .month{
  width: 170px;
  height: 100%;
  float: left;
  overflow-y: scroll;
}
.time-selector .month dt{
  float: left;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
#tips{

  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  color: #2c7;
  background-color: #fdfdcb;
  z-index: 999;
  line-height: 30px;
  text-align: center
}
.btn-del{
  position: absolute;
  bottom: 20px;
  right: 50px;
}
