/* 基本样式重写 */
label{
  display: inline-block;
  font-size: 14px;
  color: #666;
  width: 100px;
}
input{
  border: 1px solid #999;
  outline: 0;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  color: #333;
  text-indent: 10px;
  font-size: 16px;
}
input:focus{
  border: 1px solid #2c7;
}
select{
  border: 1px solid #999;
  outline: 0;
  border-radius: 5px;
  height: 30px;
  line-height: 30px;
  color: #333;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  width: 60px;
   /* padding-right: 30px; */
   background: url("../img/arrow.png") no-repeat scroll 86% 50% transparent;
   cursor: pointer;
   text-indent: 5px;
}
select:focus{
  border-color: #2c7;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
textarea{
  outline: 0;
  border: 1px solid #999;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  padding: 10px;
}
textarea:focus{
  border-color: #2c7;
}
/* 重写end */
.container{
  position: relative;
  margin: 0 auto;
  width: 980px;
}
.container::before{
  content: "";
  display: table;
}
.edit-area{
  width: 60%;
  margin-top: 50px;
  background-color: #fefef2;
}
.r-bar{
  position: absolute;
  width: 260px;
  top: 0;
  right: 0;
}
.nav-head{
  border-bottom: 2px solid #ccc;
  background-color: #fff;
  height: 80px;
  font-size: 20px;
  font-weight: bold;
}
.nav-head span{
  line-height: 80px;
  text-indent: 10px;
}
a.preview{
  display: block;
  position: absolute;
  font-size: 14px;
  border: 1px solid #2c7;
  padding: 5px 14px;
  border-radius: 4px;
  color: #2c7;
  right: 10px;
  top: 30px;
  font-weight: normal;
  text-align: center;
}
a.preview:hover{
  color: #fff;
  background-color: #2c7;
}

.nav-item{
  height: 60px;
  line-height: 60px;
  text-indent: 30px;
  border-bottom: 1px solid #eee;
  margin: 2px 0;
}
.nav-item:hover, .nav-item.active{
  border-left: 2px solid #2c7;
}
.nav-item.active a{
  color: #2c7;
}
/* 基本信息模块css */
.base-info{
  width: 100%;
  /* background-color: #999; */
}
.head-pic{
  width: 100%;
  position: relative;
  height: 150px;
  margin-bottom: 50px;
  background-color: #2c7;
  opacity: 0.6;

}
.head-pic .img{
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  overflow: hidden;
  border: 1px #999 solid;
  bottom: -30px;
  left: 234px;
  background-color: #fff;
}
.img-hover{
  display: none;
  position: absolute;
  width: 120px;
  height: 120px;
  line-height: 120px;
  color: #2c7;
  background-color: rgba(0,0,0,0.3);
  text-align: center;
  border-radius: 60px;
  bottom: 0;
  left: 0;
  cursor: pointer;
  user-select: none;
}
.img:hover .img-hover{
  display: block;
}
.img img{
  width: 100%;
  height: auto;
}
.line{
  width: 100%;
  margin-bottom: 10px;
}
.line .base-item{
  float: left;
  margin-right: 30px;
}
.base-info .name input{
  width: 100px;
}
.base-info .city input{
  width: 100px;
}
.base-info .employ-age select{
  width: 130px;
}
.s-decs{
  width: 100%;
}
.s-desc input{
  width: 80%;
}
/* 基本信息end */
/* 求职意向 go */
.intension{
  width: 100%;
  position: relative;
}
section .title{
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  border-bottom: 2px solid #2c7;
  text-indent: 10px;
}
.intension .tit{
  display: block;
  margin: 10px 0;
}
.intension-item{
  float: left;
  margin-right: 20px;
}

.intension .in-date select{
  width: 130px;
}
/* education css */
.education{
  position: relative;
  width: 100%
}
.education .tit{
  display: block;
  margin: 10px 0;
}
.education .school input, .object input{
  width: 80%;
}
.education textarea{
  width: 80%;
}
.qualification, .graduate-date{
  float: left;
  margin-right: 20px;
}

/* job */
.job{
  position: relative;
  width: 100%;
}
.job .tit{
  display: block;
  margin: 10px 0;
}
.job input{
  width: 80%;
}
.job select{
  width: 80px;
}
.job textarea{
  width: 80%;
}
/* project */
.project{
  position: relative;
  width: 100%;
}
.project .tit{
  display: block;
  margin: 10px 0;
}
.project input, .project textarea{
  width: 80%;
}
.project select{
  width: 80px;
}
/* evalution */
.evalution{
  width: 100%;
  position: relative;
}
.evalution textarea{
  width: 80%;
  margin-top: 10px;
}
