.x_nav {width:100%;}
.clearfix {
    zoom: 1;
}
.x_nav .x_Classify {background:#2c7;padding: 25px 0px 15px 0px;}
.x_Classify .x_current_path { padding-bottom:6px;width:100%;font-size: 14px;color: #fff;}
.x_Classify .x_current_path a{display: inline-block;color: #fff;font-size: 12px !important; padding:0 5px;}
.x_Classify .x_current_path a:hover{ font-weight:bold; font-size:13px;}
.x_Classify .x_Classify_content {margin-bottom: 10px;overflow: hidden;}
.x_Classify .x_Classify_content span {float: left;padding-top: 4px;margin-right: 5px;font-weight: bold;font-family: songti;color: #fff;font-size: 14px; padding-left:5px;}
.x_Classify .x_Classify_content a {display: inline-block;color: #fff;margin: 4px 8px 4px 0;font-size: 14px;padding: 0px 9px 0 16px;}
.x_Classify .x_Classify_content a:hover{background: #fff;color: #00C091;border-radius: 4px;}
.x_searchform { position: relative;background: #fff;margin-top: 0px;padding-top: 25px;padding-bottom: 40px;}
.x_searchform .x_searchBox{float: right;position: relative;margin-top: -22px;}
.x_searchform .x_searchBox .x_search_box {height: 30px;width: 370px;padding: 0 25px 0 10px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 30px;
border: 1px solid #bbc3c6;}
.x_searchform .x_searchBox .x_search_submit {height: 32px;width: 40px;cursor: pointer;background: url(../img/sou.png) no-repeat center center;display: inline-block;position: absolute;border: none;top: 0px;right: 3px;border-radius: 2px;}


.line { margin:0 auto;}
.line .x_resume{float: left;width: 100%;text-align: left;}
.line .x_resume_content .x_img_content{ margin-bottom:10px;}

.line img{width:92%;padding:3%;display:block; background:#fff;}
.line img:hover{width:94%;padding:3%;display:block; background: #9CF;}
.x_words_content{padding: 8px 4%;width:92%;float:left;}
.x_words_content .x_resumeprice {width:100%;}
.x_words_content .x_resumeprice a{float:left;font-size: 14px;color: #7a858e;display: block;}
.x_words_content .x_resumeprice span{float:right;font-size: 16px;color:#2c7;font-family: arial;font-weight: bold;display: block;}
.x_words_content .x_buynum {width:100%; padding:10px 0px;}
.x_words_content .x_buynum a{ float:right;display: block;font-size: 13px;font-family: arial; margin-left:8px;color:#7a858e;}
.x_words_content .x_buynum span{ margin-right:5px;}
.x_words_content .x_resumeprice a:hover,.x_words_content .x_buynum a:hover{color:#2c7;font-size: 15px;}

footer{width:100%; padding:20px 10px; background:#333;}
footer .x_footer_nav p{color:#FFF;}
footer .x_footer_nav a{color:#CCC;}


@media (min-width:1200px){
.xb3:nth-child(4n+1){clear:both;}	
}