
.x_logreg_bg{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 100;overflow: hidden;-webkit-overflow-scrolling: touch;outline:0; background-color:rgba(204,204,204,0.8)}
.x_login,.x_reg{width:400px;height:400px;position:fixed;top:40%;left:40%;border-radius:4px; border:1px solid #CCC; background:#FFF;}
.x_login .x_login_head,.x_reg .x_reg_head {height:30px;position: relative;}
.x_login .x_login_head p,.x_reg .x_reg_head p{font-size:20px;color:#3d3d3d;font-weight:normal;padding:15px 0 0 30px;}
/*.x_login .x_login_head #x_logreg_out,.x_reg .x_reg_head #x_logreg_out,.x_login .x_login_head #x_logreg_out1,.x_reg .x_reg_head #x_logreg_out1,.x_login .x_login_head #x_logreg_out2,.x_reg .x_reg_head #x_logreg_out2{float:right;font-size:22px;margin-right:0px;margin-top:-20px;color:#CCC;}*/

.x_login .x_login_info,.x_reg .x_reg_info{text-align:center;color:#A9A9A9;padding:20px 0 25px 0;}
.x_login .x_login_info .x_log_form,.x_reg .x_reg_info .x_reg_form{padding: 25px 30px;position: relative;}
.x_login_info .x_loginfo_detalis,.x_reg_info .x_reginfo_details{width: 100%;height: 46px;border: 1px solid #dbdbdb;position: relative;margin-bottom: 14px;}

/*.x_login_info .x_loginfo_detalis span{width:44px;height:44px;float:left;background-color:#f5f5f5;float:left;background-position:7px -85px;border-right: 1px solid #dbdbdb; font-size:26px;}*/
.x_loginfo_detalis label{width:66px; text-align:right; padding-right:3px; font-size:15px;height:44px; line-height:44px;float:left;background-color:#f5f5f5;float:left;background-position:7px -85px;border-right: 1px solid #dbdbdb;}
.x_reginfo_details label{width:80px; text-align:right; padding-right:3px; font-size:15px;height:44px; line-height:44px;float:left;background-color:#f5f5f5;float:left;background-position:7px -85px;border-right: 1px solid #dbdbdb;}
.x_login_info .x_loginfo_detalis input,.x_reg_info .x_reginfo_details input{font-family: "microsoft yahei";height: 44px;background: transparent;line-height: 45px;float: left;border: none;padding: 0 10px;font-size: 14px;}
.x_login_info .x_login_btn button,.x_reg_info .x_reg_btn button{font-family: "microsoft yahei";width: 100%;height: 46px;line-height: 46px;font-size: 18px;color: #fff;background:#2c7;border-radius: 4px;border: none;}

.x_login .x_login_bot,.x_reg .x_reg_bot{background: #f9f9f9;width:85%;height: 50px;line-height: 50px;padding: 0 30px;position: absolute;bottom: 0;left: 0;font-size: 13px;}
.x_login .x_login_bot .x_pasmiss{float:left;}
.x_login .x_login_bot .x_pasmiss a:hover{ font-weight:bold;}

.x_login .x_login_bot .x_reg_path,.x_reg .x_reg_bot .x_reg_path{float:right;color:#2c7; font-weight:bold;}
.x_login .x_login_bot .x_QQlog{ margin-right:20px;float:left;}

.x_reg{height:550px;top:20%;left:40%;}
.x_reg_email{height:430px;top:30%;left:40%;}
.x_reg .x_reg_bot .x_comelog{ font-size:12px;color: #999; margin-left:50px;}
.x_reg .x_reg_bot .x_golog{ font-size:14px;color:#2c7; font-weight:bold;}
.x_reg_info .x_reginfo_details span{width:90px;height:44px;float: left;background-color: #f5f5f5; text-align:left;float: left;background-position:7px -85px;border-right: 1px solid #dbdbdb; font-size:16px; padding:10px 0px 0px 5px;}
.x_reg_info .x_reginfo_details img,.x_login_info .x_loginfo_details img{position: absolute;right:0;height:44px;width:104px;cursor: pointer;}

.x_reg_info .x_reginfo_details .x_getcode,.x_login_info .x_loginfo_details .x_getcode{position: absolute;width: 104px;height: 44px;background: #e9e9e9;color: #626262;right: 0;border: none;cursor: pointer;
text-align: center;}

